<!DOCTYPE html>
<html>

<head>
    <@includeNew path="/model/common/mb-header.html" encoding="UTF-8">
</
@includeNew>

</head>

<body>
<header class="aui-bar aui-bar-nav">
    <a class="aui-pull-left aui-btn" href="javascript:;" onclick="back()">
        <span class="aui-iconfont aui-icon-left"></span>
    </a>
    <div class="aui-title">${webname}</div>
    <a class="aui-pull-right aui-btn" onclick="opmenu()">
        <img src="${context}/aui/images/common/list.png" style="height:1.5rem;width:auto;"/>
    </a>
</header>

<div class="aui-content">
    <@includeNew path="/model/common/mb-column.html" encoding="UTF-8">
</
@includeNew>

<@includeNew path="/model/common/pc-adheader.html" encoding="UTF-8">
</
@includeNew>

<div class="columnnav">
    当前位置：<a href="/">首页</a>&nbsp;>&nbsp;<a href="${context}/cl/mcolumn_${cid}.html">${cname }</a>
</div>

<div class="navnew ntitle">
    <img src="${context}/aui/images/common/vd.png" style="height:1rem;width:auto;float:left;"/><span style="">&nbsp;${vname }</span>
</div>

<div id="player"></div>

<div id="btbanner-list"></div>

<@includeNew path="/model/common/mb-footer.html" encoding="UTF-8">
</@includeNew>
</div>

<@includeNew path="/model/common/mb-xfadv.html" encoding="UTF-8"> </@includeNew>

<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="${context}/aui/script/swiper-3.3.1.jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="${context}/aui/script/aui-popup-new.js"></script>
<script src="https://cdn.jsdelivr.net/npm/busy-load/dist/app.min.js"></script>
<script type="text/javascript" src="${context}/bootstrap/js/jquery.lazyload.min.js"></script>
<script type="text/javascript" charset="utf-8" src="${context}/bootstrap/clappr/clappr.js"></script>

<script type="text/javascript">
    var popup = new auiPopup();


    $(document).ready(function () {
        $("#column_${cid}").addClass("selcolumn");
        $("#column_${cid} a").css("color", "#FFFFFF");

        var player = new Clappr.Player({
            source: "${vurl}", parentId: "#player", width: "100%", position: 'top-right',
        });

        $(".aui-content").scroll(function () {
            if ($(".aui-content").scrollTop() > 100) {
                $("#topxf").show();
            } else {
                $("#topxf").fadeOut(500);
            }
        });

    <@includeNew
        path = "/model/common/pc-adjs.html"
        encoding = "UTF-8" > < /@includeNew>
    });

    function back() {
        history.go(-1);
    }

    function opmenu() {
        popup.init({
            frameBounces: true,
            location: "top-right",
            buttons: [{
                image: '${context}/aui/images/common/index.png',
                text: '首页',
                value: 'lt'
            }, {
                image: '${context}/aui/images/common/forum.png',
                text: '论坛',
                value: 'lt'
            }
                /**
                 ,{
					image:'',
					text:'菜单1',
					value:'cd1'
				},{
					image:'',
					text:'菜单2',
					value:'cd2'
				}
                 **/
            ],
        }, function (ret) {
            if (ret) {
                if (ret.buttonIndex == 1) {
                    location.href = "/";
                } else if (ret.buttonIndex == 2) {
                    alert("暂未开放");
                } else if (ret.buttonIndex == 3) {
                    alert("暂未开放");
                }
            }
        })
    }

</script>

</body>

</html>
