<nav class="navbar navbar-fixed-top navnew" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynav">
                <img src="${context}/bootstrap/image/list.png" style="width:30px;"/>
            </button>
            <a href="#" class="navbar-brand navfont">${webname}</a>
        </div>

        <div class="collapse navbar-collapse" id="mynav">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">影片</a></li>
                <li>
                    <a href="javascript:alert('暂未开放');">论坛</a>
                </li>
                <!--
                <li>
                    <a href="#">菜单1</a>
                </li>
                <li>
                    <a href="#">菜单2</a>
                </li>
                -->
            </ul>
        </div>

    </div>
</nav>

<div class="row" id="columnList">
    ${clistPcstr}
</div>
